<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpha.classpie.dao.TaskCheckDuplicateMapper">
  <resultMap id="BaseResultMap" type="com.alpha.classpie.pojo.task.TaskCheckDuplicate">
    <constructor>
      <idArg column="task_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="warning_value" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_return" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="return_value" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    task_id, warning_value, is_return, return_value
  </sql>
  <select id="selectByExample" parameterType="com.alpha.classpie.example.TaskCheckDuplicateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task_check_duplicate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task_check_duplicate
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_check_duplicate
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.alpha.classpie.example.TaskCheckDuplicateExample">
    delete from task_check_duplicate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.alpha.classpie.pojo.task.TaskCheckDuplicate">
    insert into task_check_duplicate (task_id, warning_value, is_return,
      return_value)
    values (#{taskId,jdbcType=INTEGER}, #{warningValue,jdbcType=INTEGER}, #{isReturn,jdbcType=BIT},
      #{returnValue,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.alpha.classpie.pojo.task.TaskCheckDuplicate">
    insert into task_check_duplicate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="warningValue != null">
        warning_value,
      </if>
      <if test="isReturn != null">
        is_return,
      </if>
      <if test="returnValue != null">
        return_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="warningValue != null">
        #{warningValue,jdbcType=INTEGER},
      </if>
      <if test="isReturn != null">
        #{isReturn,jdbcType=BIT},
      </if>
      <if test="returnValue != null">
        #{returnValue,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alpha.classpie.example.TaskCheckDuplicateExample" resultType="java.lang.Long">
    select count(*) from task_check_duplicate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update task_check_duplicate
    <set>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.warningValue != null">
        warning_value = #{record.warningValue,jdbcType=INTEGER},
      </if>
      <if test="record.isReturn != null">
        is_return = #{record.isReturn,jdbcType=BIT},
      </if>
      <if test="record.returnValue != null">
        return_value = #{record.returnValue,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update task_check_duplicate
    set task_id = #{record.taskId,jdbcType=INTEGER},
      warning_value = #{record.warningValue,jdbcType=INTEGER},
      is_return = #{record.isReturn,jdbcType=BIT},
      return_value = #{record.returnValue,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alpha.classpie.pojo.task.TaskCheckDuplicate">
    update task_check_duplicate
    <set>
      <if test="warningValue != null">
        warning_value = #{warningValue,jdbcType=INTEGER},
      </if>
      <if test="isReturn != null">
        is_return = #{isReturn,jdbcType=BIT},
      </if>
      <if test="returnValue != null">
        return_value = #{returnValue,jdbcType=INTEGER},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alpha.classpie.pojo.task.TaskCheckDuplicate">
    update task_check_duplicate
    set warning_value = #{warningValue,jdbcType=INTEGER},
      is_return = #{isReturn,jdbcType=BIT},
      return_value = #{returnValue,jdbcType=INTEGER}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
</mapper>
